.icons__img {
    display: flex;
flex-direction: row;
align-items: center;
padding-top: 212px;
flex: none;
margin-right: 39px;
}
.icons__lastimg{
text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 576px){
    .icons__img{
        padding: 20px;
        text-align: center;
        display: block;
    }
    .icons__img :first-child{
        padding-top: 100px;
    }
}